/*––––––––– Table of Contents –––––––––––*/
/* - - - - 0 variables       - - - - - - */
/* - - - - 1 global          - - - - - - */
/* - - - - 2 typography      - - - - - - */
/* - - - - 3 form            - - - - - - */
/* - - - - 4 footer          - - - - - - */
/* - - - - 5 queries         - - - - - - */
/*–––––––––––––––––––––––––––––––––––––––*/

/*–––––––– 0 variables ––––––––––––––––––*/
$first:#662244;
$second:#b94567;
$third:#430021;
$grey:#999;
$light-grey:#B3B3B3;

@mixin font-size($size) {
  font-size:$size;
  font-size:calculateRem($size);
  line-height:$size / 1.0;
  margin-bottom:$size / 3.5;
}
/* - - - - secondary - - - - - - - - - */


/*–––––––– 1 global –––––––––––––––––––*/
html {
  padding:120px 0 120px 0;
  position:relative;
  min-height:100%; 
}
body {
  font-family:"aktiv-grotesk", sans-serif;
  -webkit-font-smoothing:antialiased;
  background-color:transparent;
}

/*–––––––– 2 typography –––––––––––––––*/
h1 {
  @include font-size(56px);
  background-image:url('../images/text-bkg.png');
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  -webkit-animation:hue 60s infinite linear;
  font-weight:300;
  height:61px;
  line-height:56px;
  }
h2 {
  @include font-size(23px);
  font-weight:300;
  color:$grey;
}
.islandGroup {
  margin-bottom:36px;
  .island {
    margin-bottom:48px;
  }
}

/*–––––––– 3 form –––––––––––––––––––––*/
span {
  @include font-size(20px);
  line-height:0;
  font-weight:300;
  color:$grey;
  a {
    color:#15A019;
    font-style:italic;
  }
}


.taskGroup {
  margin:48px 0 24px 0;
}.taskSingle {
  margin:18px 0 18px 0;
  padding:12px;
  border:1px solid $light-grey;
  border-radius:4px;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.06);
  box-shadow:0 2px 5px rgba(0,0,0,0.06);
  }.taskSingle input[type=checkbox], 
   .taskSingle input[type=radio] {
    margin-right:12px;
    }.taskSingle i {
    color:$light-grey;
    float:right;
    margin:5px 0px 0px 0px;
    }.taskSingle i:hover,
     .taskSingle i:visited,
     .taskSingle i:focus {
       color:$second;
       cursor:pointer;
}

.form-control {
  @include font-size(20px);
  font-weight:300;
  color:$grey;
  line-height:auto;
  padding:6px 12px;
  height:48px;
  border:1px solid $light-grey;
  border-radius:4px;
  margin:6px 0px;
  -webkit-appearance:none;
  [disabled] {
    background-color:#fff;
    border:1px solid $light-grey;
  }
}
textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {   
  border:1px solid $second;
  box-shadow:0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
  outline:0 none;
}
.btn {
  background-color:$first;
  font-size:20px;
  border:0;
  color:#fff;
    &:hover,
    &:visited,
    &:focus {
      color:#fff;
      background-color:$second;
    }
    &:disabled {
      color:#fff;
      background-color:$third;
    }
}

/*–––––––– 4 footer –––––––––––––––––––*/
footer {
  position:absolute;
  left:0;
  bottom:0;
  height:100px;
  width:100%;
  border-bottom:3px solid $second;
  p {
    font-size:17px;
    color:$light-grey;
    a {
      color:$light-grey;
      &:hover,
      &:focus {
        text-decoration: none;
        color:$first;
      }
    }
  }
}

/*–––––––– 5 queries ––––––––––––––––––*/
@media (max-width:632px) {
  h1 {
    @include font-size(48px);
    height:52px;
    line-height:48px;
  }
}