html {
  padding:120px 0 120px 0;
}
body {
  font-family:"aktiv-grotesk", sans-serif;
  -webkit-font-smoothing:antialiased;
  background-color:transparent;
}
h1 {
  font-size:72px;
  margin:0;
  font-weight:200;
  background-image:url('https://ununsplash.imgix.net/photo-1423766111988-c47a5ff6ed06?dpr=2&fit=crop&fm=jpg&h=600&q=75&w=1050');
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  -webkit-animation:hue 60s infinite linear;
  }
h2 {
  font-family:"aktiv-grotesk", sans-serif;
  margin:0;
  color:#999;
  font-size:22px;
}
.islandGroup {
  margin-bottom:36px;
  }.island {
  margin-bottom:48px;
  }

span {
  font-size:18px;
  }span a {
  color:#15A019;
  font-style:italic;
  }


.taskGroup {
  margin:48px 0 24px 0;
}.taskSingle {
  margin:18px 0 18px 0;
  padding:12px;
  border:1px solid #B3B3B3;
  border-radius:4px;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.06);
  box-shadow:0 2px 5px rgba(0,0,0,0.06);
  }.taskSingle input[type=checkbox], 
   .taskSingle input[type=radio] {
    margin-right:12px;
    }.taskSingle i {
    color:#B3B3B3;
    float:right;
    margin:5px 0px 0px 0px;
    }.taskSingle i:hover,
     .taskSingle i:visited,
     .taskSingle i:focus {
       color:#949472;
       cursor:pointer;
}

.form-control {
  padding:6px 12px;
  height:48px;
  border:1px solid #B3B3B3;
  border-radius:4px;
  font-size:20px;
  margin:6px 0px;
  }.form-control[disabled] {
  background-color:#fff;
  border:1px solid #b3b3b3;
  }.form-control[disabled] i {
  color:#949472;
  }
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border:1px solid #949472;
  box-shadow:0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
  outline:0 none;
}
.btn {
  background-color:#C0B37D;
  font-size:20px;
  border:0;
  color:#fff;
  }.btn:hover,
 .btn:visited,
 .btn:focus {
  color:#fff;
  background-color:#949472;
}

footer {
  margin-top:20em;
  bottom:0;
  width:100%;
  height:60px;
  color:#B3B3B3;
  }footer p {
  font-size:17px;
  }footer p a {
  color:#B3B3B3;
}

@media (max-width:632px) {
  h1 {
    font-size:63px;
  }
}