html {
  padding:72px 0;
}
body {
  font-family: "adobe-caslon-pro";
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color:#2d2d2d;
}
h1 {
  font-size: 96px;
}
h2 {
  font-family: "proxima-nova";
  font-size: 22px;
  color:#888;
}
span {
  font-family: "adobe-caslon-pro";
  font-size: 26px;
}
span a {
  color:#15A019;
  font-style: italic;
}
.addArea {
  margin:48px 0 24px 0;
}
.addArea input.form-control {
  border:0;
  box-shadow: none;
  padding-left:0;
  font-size: 30px;
  height: 56px;
}
.form-control {
  padding:6px 12px;
  border-radius: 0;
  margin: 6px 0px;
}
.btn {
  background-color: #000;
  color:#fff;
  font-family: "proxima-nova";
  font-weight: 700;
  font-size: 17px;
  height: 50px;
}
