html {
  padding:72px 0;
  background-color: #EF5459;
}
body {
  font-family: "proxima-nova";
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  color:#fff;
}
h1 {
  font-size: 96px;
}
h2 {
  font-family: "proxima-nova";
  font-size: 22px;
}
span {
  font-size: 26px;
}
span a {
  color:#15A019;
  font-style: italic;
}

.island {
  margin-bottom: 48px;
}



.taskGroup {
  margin:48px 0 24px 0;
}
.taskSingle {
  margin:18px 0 18px 0;
}
.form-control {
  padding:6px 12px;
  height:48px;
  border:0;
  border-radius: 4px;
  font-size: 20px;
  margin: 6px 0px;
}
.btn {
  color:#fff;
  font-size: 20px;
  background-color: #bf4347;
  border:0;
}.btn:hover,
 .btn:visited,
 .btn:focus {
  color:#fff;
  background-color: #8f3235;
}
footer p {
  font-size: 17px;
}
footer p a {
  color:#8f3235;
}

@media (max-width:632px) {
  html {
    font-size: 40%;
  }
}