<!DOCTYPE html>
<html ng-app="application">
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="container">
  <div class="col-sm-6 col-sm-offset-3" ng-controller="mainController as application">
    <div class="islandGroup animated fadeIn">
      <div class="row">
        <div class="col-sm-12">
          <h1>memu.co</h1>
          <h2>A light browser-based list maker.</h2>
        </div>
      </div>
    </div>
    <div class="buttonGroup">
      <div class="row">
        <div class="col-sm-12">
          <form>
            <input class="form-control animated fadeInLeft" value="" type="text" placeholder="Enter an item..." ng-model="taskName" autofocus="autofocus">
            <button class="form-control btn btn-default animated fadeInRight" ng-click="add()"><i class="fa fa-plus"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="taskGroup">
      <div class="row taskSingle animated fadeIn" ng-repeat="task in tasks" ng-hide="task.complete">   
        <div ng-click="task.complete = true">
          <span>{{task.name}}</span>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <p>Something by <a href="https://garybunofsky.com">Gary Bunofsky</a>.</p>
      </div>
    </div>
  </div>
</footer>
</html>
