<!DOCTYPE html>
<html ng-app="application">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body class="container">
    <div class="col-sm-6 col-sm-offset-3" ng-controller="mainController as application">
      <div class="islandGroup animated fadeIn">
        <div class="row">
          <div class="col-sm-12">
            <h1>Magenda.co</h1>
            <h2>A light, browser-based list builder.</h2>
          </div>
        </div>
      </div>
      <div class="buttonGroup">
        <div class="row">
            <form>
              <div class="col-md-10">
                <input class="form-control animated fadeInLeft" value="" type="text" placeholder="Enter an item..." ng-model="taskName" autofocus="autofocus">
              </div>
              <div class="col-md-2">
                <button class="form-control btn animated fadeInRight" ng-click="add()" ng-disabled="!taskName"><i class="fa fa-angle-down"></i></button>
              </div>
            </form>
        </div>
      </div>
      <div class="taskGroup">
        <div class="row taskSingle animated fadeIn" ng-repeat="task in tasks" ng-hide="task.complete">   
          <div>
            <input type="checkbox">
            <span>{{task.name}}</span>
            <i class="fa fa-trash-o" ng-click="task.complete = true">&nbsp;</i>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>
</html>